.cart-wrapper {
  padding: 100px;
  text-align: center;
  width: 20%;
  height: 100%;
  background-color: #00000066;
  border-radius: 10px;
  margin: auto;
}

.item-in-cart-container img {
  max-width: 100px;
  border-radius: 10px;
}
.cart-remove-button {
  margin: auto;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
