.navbar-wrapper {
  background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
}

.logo {
  width: 100px;
  color: white;
  border-radius: 50%;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}

.logo:hover {
  transform: rotate(360deg);
}
.wishlist-icon {
  width: 30px;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: -30px;
}

.cart-icon {
  width: 45px;
  margin-right: 10px;
  transform: rotate(0deg) scaleX(-1);
}
.icons-container {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  margin-top: -75px;
  margin-right: 30px;
}
