body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-list {
  float: left;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}
.product-list img {
  width: 300px;
  height: 350px;
}



.product-list-container {
  width: 80%;
  margin: auto;
  list-style: none;
}

.buttons {
  text-align: center;
}


.coverpic{
width:90%;
margin-top: 15vh;
margin-left: 10vh;
margin-right: 10vh;
margin-bottom: 5vh;
height:70vh;
position: center;
}