body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: ;
}

button 
  {
    background-color: #ddd;
    border: none;
    color: black;
    border-radius: 5%;
    margin: 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }  

button:hover {
  transform: scale(1.1);
}

button:active {
  background: blue;
}
