body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button 
  {
    background-color: #ddd;
    border: none;
    color: black;
    border-radius: 5%;
    margin: 2px;
    transition: all .2s ease-in-out; 
  }  

button::hover {
  transform: scale(2);
}
